/* 1. Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Root defaults */
html,
body {
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  background: #1c1b1a; /* dark */
  color: #fffbf1; /* light text */
}

/* 3. Images & media */
img,
picture,
video,
canvas {
  max-width: 100%;
  display: block;
}

/* 4. Inputs inherit font */
input,
button,
textarea,
select {
  font: inherit;
}

/* 5. Buttons */
button {
  cursor: pointer;
  border: none;
  background: none;
}

/* 6. Layout container */
#app {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* 7. Slider spacing */
.slidecontainer {
  margin: 2rem 0;
}

.controls {
  max-width: 600px;
  margin: 0 auto;
}

#selectedYear {
  text-align: center;
}

/* 8. Range input basic styling */
input[type="range"] {
  width: 100%;
}

/* 9. Text */
h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

.parliament {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.state {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

#chart {
  display: flex;
  gap: 20px;
  align-items: flex-end; /* important */
  justify-content: center; /* optional: center whole chart */
  margin-top: 2rem;
}
